.csg-container {
  max-width: 1280px;
  width: 95%;
  margin: auto;
  z-index: 1;

  @include fourKDevice {
    width: 95%;
  }
}

*{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  color: $primary-color;
}

::placeholder{
  color: #d3d3d3;
  text-transform: capitalize;
}
