.mainHeader {
  border-bottom: $primary-border;
  padding: 0.2rem 0;
  text-transform: capitalize;
  box-shadow: $primary-shadow;
  @include largeTablet {
    display: none;
  }
  .mainHeader__inner {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    .mainHeader__form {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: stretch;
      input {
        border: none;
        background-color: $bg-secondary;
        width: 400px;
        border-radius: $rounded-md 0 0 $rounded-md;
        padding-left: 1rem;
      }
      span {
        height: 45px;
        width: 45px;
        background-color: $primary;
        border-radius: 0 $rounded-md $rounded-md 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .mainHeader_user {
      position: relative;
    }
    .mainHeader__dropdown {
      display: flex;
      flex-direction: column;
      transition: all 0.3s;
      div {
        padding: 1rem 2rem;
        border-bottom: $primary-border;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        &:hover{
          color: $primary;
          text-decoration: underline;
          background-color: $bg-secondary
        }
      }
    }
    .mainHeader__cart{
      position: relative;
      cursor: pointer;
      .mainHeader__cart__badge{
        position: absolute;
        top: 0;
        right: 0;
        background-color: $primary;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $rounded_full;
        transform: translate(40%, -40%);
        color: white;
      }
    }
  }
}
