.shopByCategory {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 40px;

  .shopByCategory__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
  }

  .shopByCategory__Container {
    width: 100%;
    display: flex;
    gap: 30px;

    .shopByCategory__card {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        transition: 0.5s ease-in-out;

        .shopByCategory__card__img {
          background-color: rgba(0, 0, 0, 0.3);
          transition: 0.5s ease-in-out;

          img {
            filter: blur(2px);
            transition: 0.5s ease-in-out;
          }
        }

        .shopByCategory__card__layer {
          visibility: visible;
          background-color: rgba(0, 0, 0, 0.3);
          opacity: 90%;
          transform: scale(1);
          transition: 0.5s ease-in-out;

          span {
            color: white;
            opacity: 100%;
            transition: 0.5s ease-in-out;
          }
        }
      }

      .shopByCategory__card__img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        transition: 0.5s ease-in-out;
        border: 1px solid rgb(158, 158, 158);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          transition: 0.5s ease-in-out;
        }
      }

      .shopByCategory__card__layer {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 15px;
        width: 170px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.5s ease-in-out;

        span {
          font-size: $fs-medium;
          font-weight: $fw-bold;
        }
      }
    }
  }
}
