.textLink {
  color: $primary;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    text-decoration: underline;
  }
}
.textLink.gray {
  color: $primary-color;
  &:hover {
    color: $primary;
  }
}
