.customerReviewCardViewer {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 40px;

  .Customer__review__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 25px;
      font-weight: 700;
      color: black;
    }
  }
}
