.registration__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}
.password {
  width: 100%;
}
.password__forgot {
  text-align: right;
}
.form__icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.form__links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
