.products__top__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .select__area {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.filtered_by {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: $fs-small;
  .filtered_by_clear {
    text-transform: uppercase;
    color: $primary;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.product__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  gap: 1rem;
}
