.sidebar {
  font-size: $fs-small;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0.6rem;
  max-width: 250px;

  .sidebar__each {
    .sidebar__each__items {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      cursor: pointer;
    }
    .each__location {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
    .sidebar__price__items {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      .sidebar__price {
        width: 140px;
        gap: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
