.carousal {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .carousal__item {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .carousal__item__titleAndButton {
      position: absolute;
      top: 35%;
      left: 10%;
      display: flex;
      flex-direction: column;

      @include desktop {
        width: 100%;
      }

      .carousel__itemTitelText {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 25px;
          font-weight: 700;
          color: black;
          text-align: left;
        }

        .h1Text {
          font-size: 35px;
          font-weight: 700;
          color: black;
          text-transform: uppercase;
          text-align: left;
          letter-spacing: 1.5px;
        }
      }

      .carousal__item__button {
        margin-top: 20px;
        display: flex;

        button {
          border: none;
          outline: none;

          padding: 8px 15px;
          box-sizing: border-box;
          border-radius: 20px;

          font-size: 16px;
          font-weight: 600;
          border: 2px solid $yellow;
          background: $text-yelow;
          color: $text-white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            background: transparent;
            color: $yellow;
            transition: all 0.3s ease-in-out;
            color: $text-yelow;
          }
        }
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: white;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: $text-yelow;
  }
}
